@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Raleway:wght@400&display=swap');
h1{
  text-align: center;
  margin-bottom: 10vh;
  font-family: 'Prosto One', cursive;
  text-transform: uppercase;
  color:white;
}

.item{
  min-height:20rem;
  min-width:15rem;
  padding:30px;
  border-radius: 2rem;
}

.item img{
  width:100%;
  height:100%;
  pointer-events: none;
}

.inner-carousel{
  display: flex;
}

.carousel{
  cursor: grab;
  width:80vw!important;
  overflow:hidden;
}

.card{
  box-shadow: rgba(172, 170, 170, 0.45) 0px 25px 20px -20px;
  background-color: white;
  max-height: fit-content;
  text-align: center;
}

p{
  font-family: 'Raleway', sans-serif;
}

